<html>

<head>
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
    <div class="content">
        <div class="navbar panel">
            <a class="block" href="index.html">Homepage</a>
            <a class="block" href="fun_facts.html">Fun Ben Facts</a>
            <a class="block" href="portfolio.html">Ben's Portfolio</a>
            <a class="block" href="resume.html">Work Experience</a>
            <a class="block" href="about.html">About Me</a>
            <a class="block" href="photos.html">Photo Gallery</a>
            <a class="block" href="sounds.html">Sounds of Ben</a>
        </div>
        {% block content %}{% endblock %}
        {% include "footer.jinja2" %}
    </div>
    {% block post_content %}{% endblock %}
</body>
</html>