<div id="footer" class="panel">
    <div class="flexrowcenter" style="height: 32px; margin-bottom: 10px;">
        <a class="block" href="https://github.com/ben-githubs"><img class="link" src="static/sprites/github-logo.png"><span>GitHub</span></a>
        <a class="block" href="https://www.linkedin.com/in/ben-airey-569087236/"><img class="link" src="static/sprites/linkedin-logo.png"><span>LinkedIn</span></a>
        <a class="block" href="mailto:benjaminjohnairey@gmail.com"><img class="link" src="static/sprites/email.png"><span>Email Me</span></a>
    </div>
    Copyright Ben Airey <span id="year"></span>. Cool retro background from <a href="https://wallpapers.com/background/retro-90s-background-upd2wxyzhk9g2eds.html">Wallpapers.com</a>.
    <script>document.getElementById('year').textContent = new Date().getFullYear();</script>
</div>