{% extends "basic_content.jinja2" %}

{% block content %}
    <h1 id="about-me" class="center panel">About Me</h1>

    <h2 class="panel"id="professional-stuff">Professional Stuff</h2>
    <div class="panel">
        <span class="quote">"The perfect merging of people skills and technical knowledge... but at what cost?"</span>
        <p>I thrive when working with customers on technical problems. I have strong people skills and a solid technical foundation, coupled with a skill for teaching and breaking complex topics into digestible pieces. I&#39;ve been fortunate enough to spend time in my career as a support technician, a developer, and an account rep, and those experiences allow me to connect with clients on a personal level while bringing with me a technical authority.</p>
        <p>I enjoy helping solve difficult problems, and I approach all my customer relations as a partnership; we are working together to solve real world issues, big and small. I&#39;m transparent when I don&#39;t know something, and forthcoming when I do. That authenticity is a huge part of what enables people to trust me in my work.</p>
    </div>

    <h2 class="panel"id="personal-stuff">Personal Stuff</h2>
    <div class="panel">
        <p>I&#39;m a massive geek! My main interests include</p>
        <ul>
            <li>Dungeons and Dragons (and other TTRPG&#39;s)</li>
            <li>Hobby Coding</li>
            <li>Gaming (Valheimn, Minecraft, Skyrim, Civ VI etc.)</li>
            <li>Writing</li>
            <li>History (mainly Ancient, Classical, and Medieval)</li>
            <li>Physics &amp; Astronomy</li>
        </ul>
    </div>
{% endblock %}