{% extends "basic_content.jinja2" %}

{% block content %}
    <h1 class="center panel">About Me</h1>
    <div class="panel">
        <p>
            Hi! I'm Ben, and this is my website. I'm a tech person. I've worked both developing new tools and applications for folks, and also as a technical point-of-contact working with customers to help them get the most of their products! Most of my experience has been with Python, and I consider myself to be very capable with that language. I've also had experience with the following languages, with passable levels of success:
        </p>
        <ul>
            <li>HTML/CSS (I made this site literally from scratch!)</li>
            <li>JavaScript (mostly jQuery)</li>
            <li>Go</li>
            <li>C++</li>
            <li>Matlab</li>
            <li>C# (AKA Microsoft Java)</li>
        </ul>
        <p>
            I enjoy building tools which consider the user experience - if I was a user, how would I want to utilize this software? I've had some practice building small CLI tools for my own personal projects, and working on professional CLI tools to add features and make them more user friendly. Having worked as a technical support engineer, I've gotten a hang of what sorts of things users often get confused or frustrated by, and I always try to make sure my products avoid those pitfalls!
        </p>

        <h3>What I Do</h3>
        <p>
            I sit nicely between sales and developer roles, able to build the tools needed to solve problems, and to work with users to maximize the values of those tools. I've had experience in both developer and customer-facing roles, granting me unique insights into how end-users use different technologies, what kinds of things they expect from their tools, and what areas people are most likely to stumble when working with sophicsticated technology.
        </p>

        <h3>My Tech Journey</h3>
        <p>
            I started getting involved with tech in middle school, when I decided to try my had at game development. The earliest tools I used were simple drag-and-drop interfaces, but I learned a lot about how program organization works and what computer logic looks like. In my later school years, I moved over to Unity 3D, using C# to script more complex game logic while still working within an abstracted game engine.
        </p>
        <p>
            In university, I started delving into computational physics using MATLAB. Modelling physical systems and simulating different scenarios was very cool, and since physics is a lot of number crunching, I got good at understanding how to structure my code to be as efficient as possible.
        </p>
        <p>
            MATLAB is incredible proprietary though, so in my free time, I learned how to use Python to replicate MATLAB. Python is much more flexible than MATLAB, and I quickly found myself using it for all sorts of stuff, like a VPN client, auto-filer, and even a small app whcih tracked the contents of all my moving boxes when I swapped appartments. (I didn't lose a single thing that move!)
        </p>
    </div>
{% endblock %}