{% extends "basic_content.jinja2" %}

{% block head %}
    <link rel="stylesheet" href="static/modals.css">
    <link rel="stylesheet" href="static/neuralyzer.css">

    <script>
        function neuralyze() {
            document.getElementById('neuralyzer').classList.add('neuralyzer');
            document.getElementById('neuralyzer-flash').classList.add('neuralyzer-flash');
            setTimeout(() => window.location.href = "index.html", 1250);
            
        }
        function display_second_modal() {
            document.getElementById('popup1').style.display = "none";
            document.getElementById('popup2').style.display = "block";
            
        }

        function close_window() {
            document.getElementById('popup').remove();
        }
    </script>
{% endblock %}


{% block content %}
    <h1 class="center panel">Top 10 Facts About Ben</h1>
    <div class="panel">
        Ben graduated from Oxford University with honors. He was the institutions first-ever graduate.
    </div>
    <div class="panel">
        Ben single-handedly rebuild the Taj Mahal after it's unfortunate collapse in 2009.
    </div>
    <div class="panel">
        Ben is the unrecognized leader of 37 UN nations.
    </div>
    <div class="panel">
        Ben was asked to succeed Pope Jean Paul II, but couldn't attend the ceremony due to a birthday party, and had to conceed the position to Pope Benedict XVI.
    </div>
    <div class="panel">
        Ben once discovered the secret of life. He wrote it down, but forgot to add comments, and now he no longer remembers how it works.
    </div>
    <div class="panel">
        Ben was voted "most likely to be an immortal" in the graduating class of 1132.
    </div>
    <div class="panel">
        Ben earned international notoriety after publicly losing to God in a game of connect four. A rematch is pending.
    </div>
    <div class="panel">
        Ben once held an opponent's wife's hand in a jar of acid... at a party.
    </div>
    <div class="panel">
        Ben spent a summer in 2011 interning as a leprechaun, but left after learning the position had no upward mobility.
    </div>
    <div class="panel">
        Ben invented colour.
    </div>
{% endblock %}

{% block post_content %}
    <div class="modal-filter" id="popup">
        <div id="popup1" class="modal-window">
            <span class="modal-window-handle">Hey! Listen!</span>
            <div class="modal-content">
                WARNING: The information on the following page is heavly disputed by all. Do you understand?<br/>
                <div class="flexrowcenter" style="justify-content: space-around">
                    <div class="modal-button" onclick="close_window()">
                        Yes
                    </div>
                    <div class="modal-button" onclick="display_second_modal()">
                        No
                    </div>
                </div>
            </div>
        </div>
        <div id="popup2" class="modal-window" style="display: none;">
            <span class="modal-window-handle">Hey! Listen!</span>
            <div class="modal-content">
                In that case, we will need to erase your memory.<br/>
                <div class="flexrowcenter" style="justify-content: space-around">
                    <div class="modal-button" onclick="neuralyze()">
                        Okay
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="neuralyzer"></div>
    <div id="neuralyzer-flash"></div>
{% endblock %}