{% extends "basic_content.jinja2" %}

{% block content %}
    <h1 class="center panel">Photo Gallery</h1>
    <div class="panel">One day, these will be photos of me. For now, you get the late, great Betty White!</div>
    <div class="photo-grid">
        <div class="photo-panel">
            <img src="static/photos/sample1.jpeg">
            <img src="static/photos/sample8.jpeg">
        </div>
        <div class="photo-panel">
            <img src="static/photos/ben.png">
            <img src="static/photos/sample3.jpeg">
            <img src="static/photos/sample5.jpeg">
        </div>
        <div class="photo-panel">
            <img src="static/photos/sample4.jpeg">
            <img src="static/photos/sample6.jpeg">
            <img src="static/photos/sample7.jpeg">
        </div>
    </div>
{% endblock %}