{% extends "basic_content.jinja2" %}

{% block content %}
    <h1 class="center panel">Resume & Experience</h1>
    <div class="experience">
        <div class="panel">
            <h2>Technical Account Manager & AI SOC Architect</h2>
            <h3>Panther Labs (August 2025 - July 2026)</h3>
            <p>
                For roughtly a year, I piloted Panther's first TAM program, ultimately owning over $10M USD of ARR across 17 customers.
            </p>
            <p>
                In the summer of 2025 I was asked to become Panther's first TAM. The company had not seen this role previously, but following the work I did as the inaugural Implementation Engineer, and with the company signing larger clients, we realized the need to have a dedicated resource for these customers to support them with such a technical product and enable them to utilize it to the fullest.
            </p>
            <p>
                Half-way through my tenure as a TAM, I was given another task: work with my clients to increase adoption of our new AI SOC functionality. We were expanding into the AI SOC space rapidly, and I worked with customers to help them get involved on the ground floor and build out what our platform could look like. Within 3 months, we successfully signed 3 AI SOC SKUs with top clients, and I developed a repeatable sales process for pitching, demoing, and closing AI SOC sales with existing customers which saw adoption from the broader sales team the following quarter.
            </p>

            <strong>Responsibilities:</strong>
            <ul>
                <li>
                    Client & Account Management
                    <ul>
                        <li>Act as the dedicated, primary technical resource for key clients.</li>
                        <li>Develop long-term relationships with business and technical stakeholders.</li>
                        <li>Conduct regular meetings with clients to assess product fit and strategy, address issues, and align on roadmaps.</li>
                        <li>Work closely with sales team to identify expansion opportunities, renewal risks, and upgrades.</li>
                    </ul>
                </li>
                <li>
                    Proactive Support & Strategy
                    <ul>
                        <li>Run technical trainings and working sessions for new features.</li>
                        <li>Coordinate incident/outage response.</li>
                        <li>Discuss upcoming features with clients and strategize on new workflows to meet existing business needs.</li>
                    </ul>
                </li>
                <li>
                    Cross-Functional Advocacy & Education
                    <ul>
                        <li>Advocate for customer internally by translating needs and feedback into actional insights for product and development teams.</li>
                        <li>Identify strategic early adopters for features in beta and faciliatte conversations between PMs and clients.</li>
                        <li>Communicate product releases, features, and roadmap with clients.</li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="experience">
        <div class="panel">
            <h2>Detection Engineer</h2>
            <h3>Panther Labs (July 2024 - July 2025)</h3>
            <p>
                As a detection engineer, I got to take ownership of one of the core product experiences at Panther: managing content via CI/CD. My responsibilities were split evenly between managing the out-of-the-box detection content, and developing/maintaining the tools we provide customers for developing their own detections.
            </p>
            <p>
                I undertook a number of projects in this role, such as:
                <ul>
                    <li>Migrating release and publish workflows away from setuptools</li>
                    <li>Creating guardrails to more thoroughly test managed content for bugs or noise before releasing broadly to customers</li>
                    <li>Streamlining the unit test development process by introducing a log redaction tool</li>
                    <li>Codeveloping automated red-teaming tools to provide end-to-end detection testing</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="experience">
        <div class="panel">
            <h3>Implementation Engineer (Nov 2023 - July 2024)</h3>
            <p>
                In the months leading up to Nov 2024, myself and my grand-manager Curtis were tasked with standing up a Professional Services team at Panther. The team would provide onboarding services for new customers, and ad-hoc professional services for existing customers. Nobody had ever undertaken this task at Panther before, and we were chosen to build out this new function.
            </p>
            <p>
                Ultimately, the team was deprecated during some restructuring, and the role was outsourced to partner teams (which I helped train up). However, during our 9-month run, we successfully onboarded 11 new customers, performed a few ad-hoc services (including data exfiltration and detection writing), and drafted a number of processes to integrate professional services into our sales cycles. After the restructure, I moved into a position as a detection engineer.
            </p>
            
            <strong>Responsibilities:</strong>
            <ul>
                <li>New Customer Onboarding:
                    <ul>
                        <li>Plan, schedule, and run training sessions with customers</li>
                        <li>Produce training materials (documentation, presentations, videos, etc.) for use during pre- and post-sales</li>
                        <li>Track current engamenents and report progress and metrics</li>
                        <li>Follow up with new customers regarding bugs, feature requests, etc.</li>
                        <li>Research and develop specific implementations/integrations for individual customer needs</li>
                    </ul>
                </li>
                <li>Ad-Hoc Services:
                    <ul>
                        <li>Track service requests and report progress/revenue.</li>
                        <li>Work with customers to understand their specific requirements and constraints.</li>
                        <li>Keep customer appriased of progress, blockers, and expectations.</li>
                    </ul>
                </li>
            </ul>
    
            <h3>Technical Support Engineer Lv. 2 (May 2023 - Feb 2024)</h3>
            <p>In addition to the duties and responsiblities of TSE I, in this position I also took an active role in supporting and supervising the junior TSEs.</p>
            <stong>Responsibilities:</stong>
            <ul>
                <li>Provide coachinh and feedback for new TSEs.</li>
                <li>Recieve escalations from peers for higher-difficulty customer engagements.</li>
                <li>Facilitate customer outreach during product incidents.</li>
                <li>Form parnterships with various teams in engineering and product design orgs to represent customers.</li>
            </ul>
    
            <strong>Accomplishments:</strong>
            <ul>
                <li>Re-vamped the TSE hiring guide and onboarding materials.</li>
                <li>Trained 2 new hires directly, and assisted in the training of 2 more.</li>
            </ul>
    </div>
    <div class="experience">
        <div class="panel">
            <h3>Technical Support Engineer Lv. 1 (June 2022 - May 2023)</h3>
            <p>
                Provided frontline technical support for customers which encountered issues using Panther, or had questions about the product.
            </p>
            <strong>Responsibilities:</strong>
            <ul>
                <li>Triage and respond to incoming customer tickets, and prioritze according to severity and urgency of issues.</li>
                <li>Reference, maintain, and contribute to internal and customer-facing informational resources, including a knowledge base, and Panther's official documentation.</li>
                <li>Participate in building tools and processes to improve the team's efficiency.</li>
                <li>Log, monitor, and help prioritize feature requests and bug reports.</li>
                <li>Host info-sessions to share technical product knowledge with the support team, and other less-technical teams across the org.</li>
            </ul>
    
            <strong>Accomplishments:</strong>
            <ul>
                <li>Developed a tool to assist with automated assignments of incoming tickets. The tool tracked when users were on lunch, on break, or off-duty for the day. This ensured that tickets weren't assigned to inactive agents, which reduced mean times to first response.</li>
                <li>Served as a "TSE Specialist" in our engineering department, whereby I spent time shaodwing engineers working in a particular domain to learn more about the product, and how to troubleshoot advanced issues.</li>
                <li>Regularly in top 10% of TSEs in terms of ticket resolutions per month.</li>
            </ul>
        </div>
    </div>
{% endblock %}