{% extends "basic_content.jinja2" %}

{% block content %}
    <h1 class="center panel">Resume & Experience</h1>

    {% for fname in ("panther-tam.md", "panther-detection-engineer.md", "panther-implementation-engineer.md", "panther-tse-2.md", "panther-tse-1.md") %}
        <div class="experience">
            <div class="panel">
                {% filter md2html %}
                    {% include "markdown/jobs/"+fname %}
                {% endfilter %}
            </div>
        </div>
    {% endfor %}
{% endblock %}